.menu--bottom {
  width: 100%;
  height: 50px;
  margin-bottom: 5px;

  position: absolute;
  bottom: 0;
  border-radius: 20px;
  transform: translateY(120%);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.3s ease-in-out;
}

.menu--bottom__open {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;

  opacity: 0;
  pointer-events: none;
}

.menu--bottom__open:hover {
  background-color: rgb(201, 192, 192);
  cursor: pointer;
}

.menu--bottom__open.active {
  opacity: 1;
  pointer-events: all;
}

.menu--bottom.active {
  transform: translateY(0);
}

.menu--bottom .menu__container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.menu--bottom .menu__container__item {
  position: relative;

  height: 100%;
  padding: 15px 38px;
  margin-right: -1px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #0e8f96e5;

  transition: all 0.3s linear;
}

.menu--bottom .menu__container__item:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.menu--bottom .menu__container__item:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.fullview img {
  width: 75px;
  height: 23px;
  object-fit: contain;
}

.ground img {
  width: 75px;
  height: 22px;
  object-fit: cover;
}

.perspective img {
  width: 75px;
  height: 21px;
  object-fit: contain;
}

.utilities img {
  width: 75.2px;
  height: 26.4px;
  object-fit: contain;
}

.map img {
  width: 75px;
  height: 22px;
  object-fit: contain;
}

.video img {
  width: 75px;
  height: 19px;
  object-fit: contain;
}

.menu--bottom .sub-menu {
  position: absolute;
  bottom: 150%;

  width: 220px;
  height: fit-content;
  padding: 15px 20px;
  background-color: #0e8f967a;

  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
}

.menu--bottom .sub-menu li {
  width: 100%;
  padding: 10px 25px;
  margin-bottom: 10px;

  background-color: #0e9096;
  border: 1px solid #0e9096;
  border-radius: 10px;

  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.2px;
  padding: 10px 22px;
  text-align: left;
  text-transform: uppercase;
}
.video .sub-menu {
  width: 120px;
  padding: 10px 5px;
}

.menu--bottom__close {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.menu__container__item:hover {
  background-color: #15eaeb;
  opacity: 1;
}

.sub-menu.active {
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 767.98px) {
  .menu--bottom {
    width: 100vw;
    height: 50px;
  }
}
