* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  background-color: rgb(153, 137, 137);
  background-size: cover;
  overflow: hidden;
}

.menu-action {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
